footer {
    color:rgb(1, 1, 14);
    text-align: center;
}
header{
    padding-left: 320PX;
    background-color:transparent;
    font-size: xx-large;
    font-weight: 400;
    color:rgb(247, 18, 48);
    margin-left: -10px;
    margin-right: -10px;
}
#canvas{
    margin-left: -10px;
    margin-bottom: -10PX;
    border: solid 5px rgb(199, 0, 57);
}
#iniciarJuego
{
    width: 317px;
    height: 105px;
    border-radius: 24px;
    margin: 24px;
    font-size: 18px;
    color: rgb(155, 5, 5);
    background-color: #0A3871;
    justify-content: center;
    margin-left: 320PX;
}

#iniciarJuego:hover
{
    cursor: pointer;
}
#agregar_palabra
{
    width: 280px;
    height: 67px;
    border-radius: 24px;
    margin: 24px;
    font-size: 16px;
    color: darkblue;
    border: 1px solid #0A3871;
    justify-content: center;
    margin-left: 340PX;
}
p{
    margin-left: 320PX;
}
ul{
    margin-left: 320PX;
}
#agregarPalabra{
    margin-left: 340PX;
    width: 280px;
    height: 67px;
    justify-content: center;
    text-align: center;

}
#agregar_palabra:hover
{
    cursor: pointer;
}
#reiniciar
{
    width: 280px;
    height: 67px;
    border-radius: 24px;
    margin: 24px;
    font-size: 16px;
    color: darkblue;
    border: 1px solid #0A3871;
    margin-left: 350PX;
}

#reiniciar:hover
{
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    #iniciarJuego {
      margin-left:230px;
    }
    header{
        padding-left: 230PX;
        text-align:justify;}
    p{
        margin-left: 230PX;
        text-align: justify;
    }
    ul{
        margin-left: 230PX;
        text-align: justify;
    }
    #agregar_palabra{
        margin-left: 240px;
    }
    #agregarPalabra{
        margin-left: 240PX; 
    }
    #tecladoCelular{ 
        
        width: 280px;
        height: 67px;
        justify-content: center;
        text-align: center;
    }
    #agregar_letra{
        width: 317px;
        height: 105px;
        border-radius: 24px;
        margin: 24px;
        font-size: 18px;
        color: rgb(155, 5, 5);
        background-color: #0A3871;
        justify-content: center;
        margin-left: 340PX;
    }
    footer {
        color:rgb(1, 1, 14);
        text-align: justify;
    } 
}